<nav class="navbar navbar-default" style="width:1360px;margin-left:-10px">
                               <div class="container-fluid">
                                 <div class="navbar-header" >
                                   <h3 style="margin-left:550px">Instant Web</h3>
                                 </div>
                               </div>
                             </nav>
                             <div style="margin-top:150px;margin-left:180px">
                                 <a class="btn btn-primary" ng-href="#/student">  
                                 <i class="fa fa-plus"></i>Back</a></div> 
                                 <div><br />  
                                 <table class="table table-bordered text-center" style="margin-left:180px"> <tr> 
                                 <tr><th>id</th><td><div><input class='form-control'id='newItem.id'name='id'type='text' ng-model='vm.newItem.id'/></div></td></tr><tr><th>username</th><td><div><input class='form-control'id='newItem.username'name='username'type='text' ng-model='vm.newItem.username'/></div></td></tr><tr><th>email</th><td><div><input class='form-control'id='newItem.email'name='email'type='text' ng-model='vm.newItem.email'/></div></td></tr><tr><th>password</th><td><div><input class='form-control'id='newItem.password'name='password'type='text' ng-model='vm.newItem.password'/></div></td></tr>
                                 </tr><table> 
                                 <div class="pull-right"> 
                                     <button class="btn btn-success" ng-click="vm.addNew()"> 
                                     <i class="fa fa-floppy-o"></i> Save </button> 
                                     </div>
                                     </div> 
                                   