<nav class="navbar navbar-default" style="width:1360px;margin-left:-10px">
                           <div class="container-fluid">
                             <div class="navbar-header" >
                               <h3 style="margin-left:550px">Instant Web</h3>
                             </div>
                           </div>
                         </nav>
                         <div style="margin-top:150px;margin-left:180px">
                                 <a class="btn btn-primary" ng-href="#/teacher">  
                                 <i class="fa fa-plus"></i>Back</a></div> 
                                 <div> 
                                 <a class="btn btn-danger" ng-href="" ng-click="vm.delete()" style="margin-left:180px">
                                 <i class="fa fa-trash-o"></i> Confirm delete</a></div>
                                 <div><br /><table  class="table table-bordered text-center" style="margin-left:180px"> 
                                 <tr><th>id</th><td>{{vm.deleteItem.id}}</td></tr><tr><th>username</th><td>{{vm.deleteItem.username}}</td></tr><tr><th>email</th><td>{{vm.deleteItem.email}}</td></tr><tr><th>password</th><td>{{vm.deleteItem.password}}</td></tr> 
                                 </table> 
                                     </div> 
  