<nav class="navbar navbar-default" style="width:1360px;margin-left:-10px">
                           <div class="container-fluid">
                             <div class="navbar-header" >
                               <h3 style="margin-left:550px">Instant Web</h3>
                             </div>
                           </div>
                         </nav>
                         <div style="margin-top:150px;margin-left:180px">
                                 <a class="btn btn-primary" ng-href="#/teacher">  
                                 <i class="fa fa-plus"></i>Back</a></div> 
                                 <div><br />  
                                 <table class="table table-bordered text-center" style="margin-left:180px"> 
                                 <tr><th>id</th><td>{{vm.item.id}}</td></tr><tr><th>username</th><td>{{vm.item.username}}</td></tr><tr><th>email</th><td>{{vm.item.email}}</td></tr><tr><th>password</th><td>{{vm.item.password}}</td></tr>
                                 <table> 
                                     </div> 
                                   